.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, sans-serif;
    
  }
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a:hover{
    background-color: #4CAF50;
    color: white;
}
/*
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
*/

body{
    background-image: url('/static/images/restaurant.jpg');
   /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{{ url_for('static', filename = 'restaurant.jpg') }}"); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo img
{
	height:140px;
	float:left;
	margin-top:30px;
}

.row
{
	width: 1000px;
	margin:0 auto;
}

#user{
  color: white;
}

