body {
    background-image: url('/static/images/logreg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* added property */
}

table {
    border-collapse: collapse;
    background-color: azure;
    width: 50%; /* added property */
    max-width: 600px; /* added property */
}

td {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

a,forms {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #4CAF50;
    border-radius: 5px; 
}

a:hover {
    background-color: #3e8e41;
}

p {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

