body{
  /*background-color: rgb(90, 86, 86);*/
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}


th {
  background-color: #fff;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}


td {
  padding: 20px;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #ccc;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

  }
  @media (max-width: 768px) {
    .image-container{
      flex-direction: column;
    }
  }
  
  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .circle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle p {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }

  a:hover {
    background: black;
    transition:0.6s;
    text-decoration: none;
    color: white;
    }

h4, h5{
  font-weight: bold;
  color: black;
  font-size: 25px;
}

.display{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.displaynav{
  /*position: fixed;*/
  /*overflow: hidden;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.display a{
  flex: left;
}

.displaynav a{
  color: orange;
}


@media screen and (max-width: 768px) {
  .circle {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .circle {
    width: calc(100% - 40px);
  }
}


