<html>
    <head>
        <title>About US</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/abouttry.css') }}">
    </head>
    <body>
        <header>
            <div class="home">
                <a href="{{ url_for('home') }}" ><i class="fa fa-home"></i></a>
            </div>
        </header>
        <div class="container">
            <div class="heading">
                <h1>ABOUT US</h1>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h2><i>SAI SARAN VAMSI KALUGUTLA</i></h2>
                    </div>
                    <div class="card-body"> 
                        <img src="/static/images/saran.png" class="img" alt="saisaranvamsi">
                        <p>
                            As the team leader, I had the opportunity to showcase my strong leadership skills and guide our team toward success. With three years of experience as a Programmer Analyst, I have a solid foundation in data management and programming that has been an asset to the project. In this project, I designed the menu page for the restaurant Greenland, which features a variety of cuisine types, including Indian, Chinese, Mexican, Italian, and Continental food. I worked closely to ensure that the menu was visually appealing and easy to navigate, with clear descriptions of each dish and accompanying images. Creating this menu page allowed me to showcase my skills in web development, as well as my passion for exploring different types of food and cultures.
                        </p>
                    </div>
                    <div class="card-foot">
                        <p>Contact </p>
                        <p>Email: saisaranvamsi@usf.edu</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i>ABHINAV KARRE</i></h2>
                    </div>
                    <div class="card-body">
                        <img src="/static/images/Abhinav_new.png" class="img" alt="Abhinav">
                        <p>
                            Hi, my name is Abhinav Karre, and I'm a Master's student at the University of South Florida, pursuing a degree in Business Analytics and Information Systems. I have two years of experience working as a Data Consultant, which has given me valuable expertise in data analysis, data management, and project management. Additionally, I have taken the lead in developing the content for our team's About Us page, utilizing my writing skills and attention to detail to create a comprehensive and informative page. I'm passionate about exploring different cultures and cuisines. About Us page for a restaurant allowed me to showcase my skills in web development and design while ensuring that the page was informative and engaging for the intended audience.  
                        </p>
                    </div>
                    <div class="card-foot">
                        <p>Contact </p>
                        <p>Email: abhinavkarre@usf.edu</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i>LAKSHMI SRIKANTH KAJA</i></h2>
                    </div>
                    <div class="card-body">
                        <img src="/static/images/srikanth.jpg" class = "img" alt="Sreekanth">
                        <p>
                            I am currently pursuing a master's degree in Business Analytics and Information Systems at the University of South Florida, where I have gained a solid foundation in data analytics and management. Prior to joining this program, I worked as a System Engineer for three years, where I honed my skills in programming and data management. In this project, I played a vital role in developing the Orders and Order Confirmation page, which required me to utilize my knowledge of programming and database management. I am proud of the work I have done on this project, as it has allowed me to apply my skills to real-world problems and make a meaningful contribution to the team's success. I have also developed strong communication and teamwork skills through my experiences in my academics.   
                        </p>                        
                    </div>
                    <div class="card-foot">
                        <p>Contact </p>
                        <p>Email: lakshmisrikanth@usf.edu</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i>SAI SWETHA SOMI</i></h2>
                    </div>
                    <div class="card-body">
                        <img src="/static/images/swetha.png" class = "img" alt="Swetha">
                        <p>
                            Hey there! I'm Swetha, a master's student in business analytics and information systems at the University of South Florida. I've got two years of experience as a data analyst, and I'm excited to be a part of this project for GreenLands, a restaurant page. Specifically, I developed the Login and Register pages for this website, which was a challenging but rewarding task. Our team is dedicated to creating a user-friendly website that meets all of our client's needs, and for GreenLands, we wanted to make sure that customers can easily access their account information, place orders, and receive updates on promotions and deals. In addition to my work on the Login and Register pages. I also collaborated with my team to ensure the website is responsive and accessible on multiple devices, including mobile and desktop.   
                        </p>
                        
                    </div>
                    <div class="card-foot">
                        <p>Contact </p>
                        <p>Email: saiswetha@usf.edu</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>